@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=League+Gothic&display=swap");
/* Utilities **/
/* Base **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Layout **/
header {
  width: 100%;
  height: 26rem;
  background-color: rgba(13, 0, 28, 0.75);
  background-blend-mode: soft-light;
  background-image: url("../assets/img/Header.jpg");
  filter: brightness(80%);
  background-size: cover;
  background-position: 0% 80%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  align-items: center;
  grid-template-areas: "logo navg" "aux aux"; }
  header:hover {
    filter: none; }
  header nav {
    font-family: "League Gothic", sans-serif;
    grid-area: navg;
    align-self: self-start;
    justify-self: center;
    padding-left: 200px; }
    header nav ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: none;
      align-self: none;
      gap: 60px; }
      header nav ul a {
        color: white;
        font-size: 1.8em;
        text-decoration-line: none;
        border: 1.8px solid transparent; }
        header nav ul a:hover {
          color: #A3306B;
          font-weight: 500;
          border: 1.8px outset white; }

.menu ul li a::selection {
  background-color: #823B82; }

.logohead {
  font-family: "Italiana", sans-serif;
  color: white;
  text-shadow: 2px 3px 1px black;
  grid-area: logo;
  align-self: baseline; }
  .logohead h1 {
    font-size: 4em; }
    .logohead h1::selection {
      background-color: #823B82; }
  .logohead h2 {
    font-size: 2em;
    padding-left: 80px; }
    .logohead h2::selection {
      background-color: #823B82; }

header nav #click, header nav label {
  display: none; }

.contactonav {
  text-decoration-line: none;
  padding: 0px 20px;
  border: 2.4px outset black;
  margin-left: 140px; }

/* Texto header - Home  */
.textohead {
  width: 100%;
  font-family: "League Gothic", sans-serif;
  font-size: 1.6em;
  font-weight: lighter;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  opacity: .5;
  grid-area: aux;
  justify-self: center; }
  .textohead .h3b {
    font-size: 0.85em;
    font-weight: lighter;
    grid-area: frase;
    padding-top: 20px; }
    .textohead .h3b::selection {
      background-color: #823B82; }
  .textohead h3::selection {
    background-color: #823B82; }

.scale-up-ver-bottom {
  -webkit-animation: scale-up-ver-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; } }

@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; } }

main {
  width: 100%;
  background-color: #0D001C; }

.descubretext {
  font-family: "League Gothic", sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  color: white;
  text-align: center;
  padding-top: 15px; }
  .descubretext::selection {
    background-color: #823B82; }

.descubre {
  display: flex;
  flex-direction: none;
  justify-content: space-around;
  align-self: none;
  gap: none;
  flex-wrap: wrap;
  margin: 40px 0px;
  font-family: "League Gothic", sans-serif;
  font-size: 1em;
  color: white; }

.box {
  width: 250px;
  height: 250px;
  background-color: #A3306B;
  border-radius: 8%;
  opacity: 0.5; }
  .box:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: transform 0.5s; }
  .box h3 {
    font-size: 2em;
    font-weight: 100;
    padding-left: 15px; }
    .box h3::selection {
      background-color: #823B82; }
  .box h4 {
    font-size: 1.4em;
    font-weight: 100;
    padding: 15px 15px; }
    .box h4::selection {
      background-color: #823B82; }
  .box img {
    width: 40%;
    padding-left: 10px; }
    .box img::selection {
      background-color: #823B82; }

.equip {
  width: 100%;
  background-image: linear-gradient(to top, #1B003A, #0D001C);
  font-family: "League Gothic", sans-serif;
  font-size: 2em;
  color: white;
  display: grid;
  grid-template-columns: 400px 450px 250px 250px;
  grid-template-rows: 150px 200px;
  justify-items: center;
  align-items: center;
  grid-template-areas: "texto equip1 equip4 equip5" "equip3 equip1 equip2 equip2";
  padding-left: 120px; }

.equip1 {
  grid-area: equip1;
  align-self: stretch;
  justify-self: right;
  padding: 20px 0px; }
  .equip1:hover {
    transform: scale(1.05); }

.equip2 {
  grid-area: equip2;
  align-self: stretch;
  justify-self: center;
  padding: 20px 0px; }
  .equip2:hover {
    transform: scale(1.05); }

.equip3 {
  grid-area: equip3;
  width: 70%; }
  .equip3:hover {
    transform: scale(1.05); }

.equip4 {
  grid-area: equip4;
  align-self: stretch;
  justify-self: right;
  padding: 20px 20px; }
  .equip4:hover {
    transform: scale(1.05); }

.equip5 {
  grid-area: equip5;
  align-self: stretch;
  justify-self: left;
  padding: 20px 20px; }
  .equip5:hover {
    transform: scale(1.05); }

.equiptext {
  grid-area: texto;
  text-align: center; }
  .equiptext h3 {
    font-weight: 100; }
    .equiptext h3::selection {
      background-color: #823B82; }
  .equiptext h4 {
    font-weight: 100; }
    .equiptext h4::selection {
      background-color: #823B82; }

.audiomain {
  width: 100%;
  background-image: linear-gradient(to top, #0D001C, #1B003A);
  display: grid;
  grid-template-columns: 400px 480px 120px 400px;
  grid-template-rows: repeat(2, 100px) repeat(2, 50px) 350px;
  justify-items: center;
  align-items: center;
  grid-template-areas: "audio1 . nota1 nota1" "audio2 . nota2 nota2" "audio3 formulario icon4 nota4" "audio3 formulario icon5 nota5" ". formulario  . .";
  padding-top: 30px;
  padding-left: 120px; }

.escucha1 {
  width: 100%;
  grid-area: audio1;
  align-self: baseline; }
  .escucha1:hover {
    filter: drop-shadow(0 0 20px #A3306B); }

.escucha2 {
  width: 100%;
  grid-area: audio2;
  align-self: baseline; }
  .escucha2:hover {
    filter: drop-shadow(0 0 20px #A3306B); }

.escucha3 {
  width: 100%;
  grid-area: audio3;
  align-self: baseline; }
  .escucha3:hover {
    filter: drop-shadow(0 0 20px #A3306B); }

.textaudio1 {
  font-family: "League Gothic", sans-serif;
  font-size: 2.4em;
  color: white;
  font-weight: 400;
  align-self: start;
  grid-area: nota1; }
  .textaudio1::selection {
    background-color: #823B82; }

.textaudio2 {
  font-family: "League Gothic", sans-serif;
  color: white;
  font-size: 2em;
  align-self: flex-end;
  justify-self: center;
  font-weight: 400;
  grid-area: nota1; }
  .textaudio2::selection {
    background-color: #823B82; }

.textaudio3 {
  font-family: "League Gothic", sans-serif;
  color: white;
  font-size: 1.8em;
  align-self: center;
  font-weight: 400;
  grid-area: nota2; }
  .textaudio3::selection {
    background-color: #823B82; }

.textaudio4 {
  font-family: "League Gothic", sans-serif;
  color: white;
  font-size: 1.4em;
  align-self: center;
  justify-self: left;
  padding-left: 25px;
  font-weight: 400;
  grid-area: nota4; }
  .textaudio4::selection {
    background-color: #823B82; }

.textaudio5 {
  font-family: "League Gothic", sans-serif;
  color: white;
  font-size: 1.4em;
  align-self: center;
  justify-self: left;
  padding-left: 25px;
  font-weight: 400;
  grid-area: nota5; }
  .textaudio5::selection {
    background-color: #823B82; }

.icon4 {
  width: 28%;
  grid-area: icon4;
  justify-self: right;
  align-self: center; }
  .icon4::selection {
    background-color: #823B82; }

.icon5 {
  width: 26%;
  grid-area: icon5;
  justify-self: right;
  align-self: center; }
  .icon5::selection {
    background-color: #823B82; }

.formcont {
  width: 80%;
  grid-area: formulario; }
  .formcont fieldset {
    background-color: #A3306B;
    height: 15em;
    border-radius: 8%;
    border-style: none;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.6em; }
    .formcont fieldset legend {
      text-align: center;
      padding-top: 30px; }
    .formcont fieldset label {
      font-size: 0.65em;
      font-weight: 100;
      text-align: left;
      padding-left: 30px;
      list-style-type: none; }
    .formcont fieldset input {
      width: 85%;
      margin-left: 30px; }
    .formcont fieldset textarea {
      width: 85%;
      margin-left: 30px;
      outline: none;
      resize: none; }

.boton1 {
  text-align: center;
  grid-area: formulario;
  margin-top: 10px;
  margin-left: 140px; }
  .boton1:hover {
    background-color: lightgreen; }

.boton2 {
  text-align: center;
  grid-area: formulario;
  margin-left: 20px; }
  .boton2:hover {
    background-color: lightcoral; }

.mainservices {
  background-color: #0D001C; }

.elip2resp {
  display: none; }

.elip3resp {
  display: none; }

.elip1resp {
  display: none; }

.elip4resp {
  display: none; }

.services {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: flex-end;
  gap: 100px;
  flex-wrap: wrap;
  grid-area: aux;
  padding-bottom: 20px; }

.descript {
  width: 100%;
  font-family: "League Gothic", sans-serif;
  font-size: 1.2em;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: none;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 10px; }
  .descript h2 {
    font-weight: lighter; }
    .descript h2::selection {
      background-color: #823B82; }
  .descript h3 {
    font-weight: lighter; }
    .descript h3::selection {
      background-color: #823B82; }

.grab {
  width: 20%; }

.mezcla {
  width: 20%; }

.bate {
  width: 20%; }

.inst {
  width: 20%; }

.titserv h2 {
  color: #A3306B;
  font-family: "League Gothic", sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  margin-top: 75px; }
  .titserv h2::selection {
    background-color: #823B82; }

.textoheadresp {
  display: none; }

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both; }

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.mainequip {
  background-color: #0D001C;
  background-blend-mode: soft-light;
  background-image: url("../assets/img/Equipamiento/Fondo_equip.png");
  background-position: contain;
  list-style: symbols();
  list-style-position: inside;
  font-family: "League Gothic", sans-serif;
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.553);
  text-align: left;
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  align-self: none;
  gap: 10px 70px;
  flex-wrap: wrap;
  padding-top: 20px; }
  .mainequip li {
    display: list-item; }
    .mainequip li a {
      text-decoration-line: none;
      color: white; }

.titequip h2 {
  color: #A3306B;
  text-align: center;
  font-weight: 400; }
  .titequip h2::selection {
    background-color: #A3306B; }

.lista1 {
  width: 30%; }
  .lista1 li::selection {
    background-color: #823B82; }
  .lista1 li a:hover {
    color: #A3306B;
    text-decoration: underline; }
  .lista1 li a::selection {
    background-color: #823B82; }

.lista2 {
  width: 25%; }
  .lista2 li::selection {
    background-color: #823B82; }
  .lista2 li a:hover {
    color: #A3306B;
    text-decoration: underline; }
  .lista2 li a::selection {
    background-color: #823B82; }

.lista3 {
  width: 20%; }
  .lista3 li::selection {
    background-color: #823B82; }
  .lista3 li a:hover {
    color: #A3306B;
    text-decoration: underline; }
  .lista3 li a::selection {
    background-color: #823B82; }

.mainmult {
  width: 100%; }

.audiomult {
  width: 90%;
  grid-area: aux;
  padding-left: 360px; }
  .audiomult audio {
    width: 60%;
    margin-top: 10px; }
    .audiomult audio:hover {
      filter: drop-shadow(0 0 20px #A3306B); }

.titmult h2 {
  padding-top: 18em;
  padding-bottom: 20px;
  color: #A3306B;
  font-family: "League Gothic", sans-serif;
  text-align: center;
  font-size: 2.8em;
  font-weight: 400; }
  .titmult h2::selection {
    background-color: #823B82; }

.galeria {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-self: none;
  gap: none;
  flex-wrap: wrap;
  position: relative; }
  .galeria img {
    width: 30%;
    position: absolute;
    top: 80px;
    opacity: 0;
    transition: opacity 2s; }
  .galeria input {
    top: 30px;
    position: relative;
    margin: 0px 5px; }

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(7):checked ~ img:nth-of-type(7) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(8):checked ~ img:nth-of-type(8) {
  opacity: 1; }

.galeria input[type=radio]:nth-of-type(9):checked ~ img:nth-of-type(9) {
  opacity: 1; }

.maincont {
  background-color: #0D001C;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 1fr 0.5fr;
  justify-items: center;
  align-items: center;
  grid-template-areas: "form form . . texto1" "form form . icono texto2" "form form . icono2 texto3" "boton3 boton4 titulo titulo .";
  padding: 0px 260px; }
  .maincont h2::selection {
    background-color: #823B82; }
  .maincont h3::selection {
    background-color: #823B82; }
  .maincont h4::selection {
    background-color: #823B82; }
  .maincont h5::selection {
    background-color: #823B82; }

.titcont {
  color: #A3306B;
  font-family: "League Gothic", sans-serif;
  font-size: 2.8em;
  font-weight: 400;
  grid-area: titulo;
  padding-right: 240px; }
  .titcont::selection {
    background-color: #823B82; }

.formcontb {
  width: 80%;
  padding-bottom: 20px;
  grid-area: form; }
  .formcontb fieldset {
    background-color: #A3306B;
    border-radius: 8%;
    border-style: none;
    padding-bottom: 20px;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.6em; }
    .formcontb fieldset legend {
      padding-top: 40px;
      text-align: center; }
    .formcontb fieldset label {
      font-size: 0.65em;
      font-weight: 100;
      text-align: left;
      padding-left: 30px;
      list-style-type: none; }
    .formcontb fieldset input {
      width: 85%;
      margin-left: 30px; }
    .formcontb fieldset textarea {
      width: 85%;
      margin-left: 30px;
      outline: none;
      resize: none; }

.boton3 {
  text-align: center;
  grid-area: boton3;
  margin-top: 10px;
  margin-left: 140px; }
  .boton3:hover {
    background-color: lightgreen; }

.boton4 {
  text-align: center;
  grid-area: boton4;
  margin-left: 20px; }
  .boton4:hover {
    background-color: lightcoral; }

.textcont1 {
  font-family: "League Gothic", sans-serif;
  font-size: 2.2em;
  font-weight: 100;
  color: white;
  grid-area: texto1;
  align-self: flex-start;
  padding-top: 30px; }

.textcont2 {
  font-family: "League Gothic", sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  color: white;
  grid-area: texto1;
  align-self: flex-end;
  padding-bottom: 60px; }

.textcont3 {
  font-family: "League Gothic", sans-serif;
  font-size: 1.6em;
  font-weight: 100;
  color: white;
  align-self: center;
  grid-area: texto2;
  padding-bottom: 20px; }

.textcont4 {
  font-family: "League Gothic", sans-serif;
  font-size: 1.6em;
  font-weight: 100;
  color: white;
  align-self: flex-end;
  grid-area: texto2;
  padding-bottom: 10px; }

.textcont5 {
  font-family: "League Gothic", sans-serif;
  font-size: 1.6em;
  font-weight: 100;
  color: white;
  align-self: start;
  padding-top: 10px;
  grid-area: texto3; }

.icon {
  width: 26%;
  grid-area: icono;
  justify-self: right;
  align-self: flex-end;
  padding-bottom: 10px; }
  .icon::selection {
    background-color: #823B82; }

.icon2 {
  width: 25%;
  grid-area: icono2;
  justify-self: right;
  align-self: baseline;
  padding-top: 10px; }
  .icon2::selection {
    background-color: #823B82; }

.text-focus-in {
  -webkit-animation: text-focus-in 6s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite reverse;
  animation: text-focus-in 6s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite reverse; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

footer {
  width: 100%;
  background-image: linear-gradient(to top, #823B82, #0D001C);
  padding-top: 40px;
  text-align: center; }
  footer h5 {
    font-family: "Peddana", serif;
    font-size: 1.6em;
    color: white;
    font-weight: normal; }

.iconcenter {
  padding: 0px 120px; }

/* MediaQ **/
@media (max-width: 1450px) {
  .maincont {
    padding: 0px 220px; }
  .audiomain {
    padding-left: 40px; } }

@media (max-width: 1350px) {
  .maincont {
    padding: 0px 120px; }
  .audiomain {
    grid-template-columns: 400px 440px 40px 400px;
    padding-left: 0px; }
  .icon4 {
    width: 70%; }
  .icon5 {
    width: 70%; }
  .equip {
    padding-left: 0px; }
  .boton1 {
    margin-left: 120px; }
  .boton2 {
    margin-left: 10px; } }

@media (max-width: 1250px) {
  .audiomain {
    grid-template-columns: 350px 400px 40px 350px; }
  .boton1 {
    margin-left: 115px; }
  .boton2 {
    margin-left: 5px; }
  .contactonav {
    margin-left: 40px; }
  .equip {
    grid-template-columns: 350px 400px 200px 200px; } }

@media (max-width: 1150px) {
  .maincont {
    padding: 0px 60px; }
  .contactonav {
    margin-left: 0px; }
  .audiomain {
    grid-template-columns: 300px 450px 40px 300px; }
  .textaudio1 {
    font-size: 2em; }
  .textaudio2 {
    font-size: 1.6em; }
  .textaudio3 {
    font-size: 1.4em; }
  .textohead {
    width: 90%; }
  header nav {
    padding-left: 100px; }
    header nav ul li a {
      font-size: 1.4em; } }

@media (max-width: 1085px) {
  .maincont {
    padding: 0px 0px; }
  .audiomain {
    grid-template-columns: 250px 400px 40px 250px; }
  .equip {
    grid-template-columns: 300px 350px 150px 150px; }
  .audiomult {
    padding-left: 260px; }
    .audiomult audio {
      width: 60%; }
  .services {
    gap: 40px; } }

@media (max-width: 950px) {
  .audiomain {
    grid-template-columns: 200px 350px 40px 200px; }
  .equip {
    grid-template-columns: 250px 300px 100px 100px;
    font-size: 1.5em; }
  header nav {
    padding-left: 0px; }
    header nav ul {
      gap: 30px; }
  .equip1 {
    width: 70%;
    justify-self: left;
    margin-left: 20px; }
  .formcont {
    width: 90%; }
  .textohead {
    font-size: 1.4em; }
  .textcont1 {
    font-size: 1.8em; }
  .textcont2 {
    font-size: 1.4em; }
  .textcont3 {
    font-size: 1.2em; }
  .textcont4 {
    font-size: 1.2em; }
  .textcont5 {
    font-size: 1.2em; }
  .icon {
    width: 20%; }
  .icon2 {
    width: 20%; }
  .formcontb {
    width: 90%; }
  .boton3 {
    margin-left: 160px; } }

@media (max-width: 850px) {
  .boton3 {
    margin-left: 120px; }
  .services {
    gap: 10px; } }

@media (max-width: 769px) {
  header nav {
    margin-left: 40px; }
  .box {
    width: 180px;
    height: 180px; }
    .box h3 {
      font-size: 1.6em; }
    .box h4 {
      font-size: 1.1em; }
  .equip {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 3fr 3fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: "texto texto texto" "equip1 equip1 equip2" "equip4 equip5 equip3"; }
  .equip1 {
    width: 50%;
    justify-self: center; }
  .equip3 {
    width: 80%; }
  .equip4 {
    margin-top: 20px;
    height: 80%; }
  .equip5 {
    margin-top: 20px;
    height: 80%; }
  .equiptext {
    font-size: 1.3em; }
    .equiptext h4 {
      display: none; }
  .audiomain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    grid-template-areas: "nota1 nota1" "audio1 audio2" "formulario nota2" "formulario icon4" "formulario nota4" "formulario icon5" "formulario nota5";
    padding-top: 10px; }
  .escucha3 {
    display: none; }
  .icon4 {
    width: 12%;
    justify-self: flex-start;
    align-self: flex-end;
    margin-left: 40px; }
  .icon5 {
    width: 12%;
    justify-self: flex-start;
    align-self: flex-end;
    margin-left: 40px; }
  .textaudio1 {
    font-size: 2.4em; }
  .textaudio2 {
    display: none; }
  .textaudio3 {
    font-size: 2em;
    align-self: flex-end; }
  .textaudio4 {
    font-size: 1.6em;
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 40px; }
  .textaudio5 {
    font-size: 1.6em;
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 40px; }
  .formcont {
    align-self: flex-start; }
  .services {
    display: flex;
    flex-direction: none;
    justify-content: none;
    align-self: none;
    gap: 140px;
    flex-wrap: wrap;
    padding-top: 60px; }
  .descript {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.0em; }
  .grab {
    width: 25%;
    padding-top: 180px;
    margin-left: 40px; }
  .mezcla {
    width: 35%;
    padding-top: 180px;
    margin-left: 100px; }
  .bate {
    width: 35%;
    padding-top: 160px; }
  .inst {
    width: 35%;
    padding-top: 160px;
    margin-left: 60px; }
  .textoheadresp {
    display: inline;
    font-family: "League Gothic", sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    opacity: .5; }
    .textoheadresp .h3b {
      width: 60%;
      font-size: 0.85em;
      font-weight: lighter;
      padding-top: 20px;
      margin-left: 153px; }
  .titserv h2 {
    margin-top: 25px; }
  .mainequip {
    font-size: 1.4em; }
  .leyenda {
    text-align: center;
    padding-bottom: 95px;
    grid-area: aux; }
  .audiomult {
    padding-left: 200px; }
  .galeria img {
    width: 55%; }
  .maincont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr repeat(5, 0.5fr);
    justify-items: center;
    align-items: center;
    grid-template-areas: "form form" "icono icono" "texto2 texto2" "icono2 icono2" "texto3 texto3" "titulo titulo";
    padding: 0px 140px; }
  .formcontb {
    width: 80%; }
  .textcont1 {
    display: none; }
  .textcont2 {
    display: none; }
  .textcont3 {
    display: none; }
  .textcont4 {
    align-self: baseline; }
  .textcont5 {
    align-self: baseline; }
  .boton3 {
    margin-left: 132px; }
  .boton4 {
    margin-left: 38px; }
  .icon {
    width: 10%;
    justify-self: center; }
  .icon2 {
    width: 10%;
    justify-self: center; }
  .titcont {
    justify-self: center;
    padding-right: 0px; }
  .textohead {
    width: 60%;
    font-size: 1.2em;
    margin-bottom: 95px; } }

@media (max-width: 700px) {
  .logohead h1 {
    font-size: 3em; }
  .logohead h2 {
    font-size: 1em; }
  header nav {
    margin-left: 0px; }
    header nav ul {
      gap: 20px; }
      header nav ul li a {
        font-size: 1.2em; }
  .textohead {
    font-size: 1em; }
    .textohead .h3b {
      font-size: 0.45em; }
  .formcont {
    width: 100%; }
    .formcont fieldset {
      font-size: 1.2em; }
      .formcont fieldset label {
        font-size: 0.85em;
        margin-left: 0px; }
      .formcont fieldset input {
        width: 85%;
        margin-left: 15px; }
      .formcont fieldset textarea {
        width: 85%;
        height: 100px;
        margin-left: 15px;
        outline: none;
        resize: none; }
  .boton1 {
    margin-top: 10px;
    margin-left: 70px; }
  .boton2 {
    margin-left: 20px; }
  .contactonav {
    padding: 0px;
    border: none;
    margin-left: 0px; }
  .maincont {
    padding: 0px 100px; }
  .boton3 {
    margin-left: 140px; }
  .services {
    gap: 150px;
    padding-top: 80px; } }

@media (max-width: 630px) {
  .services {
    gap: 160px;
    padding-top: 60px; }
  header nav ul {
    gap: 10px; } }

@media (max-width: 600px) {
  .maincont {
    padding: 0px 60px; }
  .audiomult {
    padding-left: 20px; }
  .boton3 {
    margin-left: 125px; }
  .services {
    gap: 150px;
    padding-top: 70px; }
  .grab {
    width: 35%;
    padding-top: 190px;
    margin-left: 0px; }
  .mezcla {
    width: 35%;
    padding-top: 190px;
    margin-left: 80px;
    font-size: 0.9em; }
  .bate {
    width: 30%;
    padding-top: 160px;
    margin-left: 10px; }
  .inst {
    width: 35%;
    padding-top: 160px;
    margin-left: 100px; }
  header nav ul {
    gap: 5px; }
    header nav ul li a {
      font-size: 0.9em; } }

@media (max-width: 500px) {
  .maincont {
    padding: 0px 40px; }
  .boton3 {
    margin-left: 105px; }
  .services {
    gap: 140px;
    padding-top: 70px; }
  .grab {
    margin-left: 0px;
    font-size: 0.9em; }
  .mezcla {
    padding-top: 180px;
    font-size: 0.80em; }
  .bate {
    padding-top: 150px; }
  .inst {
    padding-top: 150px; } }

@media (max-width: 480px) {
  .services {
    gap: 140px 100px; } }

@media (max-width: 426px) {
  .textohead h3 {
    display: none; }
  .menu {
    padding-left: 0px;
    height: 0;
    overflow: hidden; }
  header nav {
    margin-right: 10px;
    justify-self: right; }
    header nav ul {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-self: center;
      gap: 10px; }
      header nav ul li a {
        font-size: 1.6em; }
    header nav label {
      display: inline-flex;
      padding-left: 26px;
      cursor: pointer; }
  header nav #click:checked ~ .menu {
    height: 100%; }
  .equip {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    justify-items: none;
    align-items: none;
    grid-template-areas: "texto texto" "equip1 equip2" "equip4 equip5" "equip3 equip3"; }
  .equip1 {
    width: 90%;
    height: 90%; }
  .equip2 {
    width: 90%;
    height: 90%; }
  .equip3 {
    width: 80%;
    margin: 0px;
    align-self: self-start; }
  .equip4 {
    margin: 0px; }
  .equip5 {
    margin: 0px; }
  .audiomain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.5fr) 3fr repeat(4, 0.5fr);
    justify-items: none;
    align-items: none;
    grid-template-areas: "nota1" "audio1" "audio2" "formulario" "icon4" "nota4" "icon5" "nota5"; }
  .textaudio3 {
    display: none; }
  .textaudio4 {
    justify-self: center;
    padding: 0px;
    margin: 0px; }
  .textaudio5 {
    justify-self: center;
    padding: 0px;
    margin: 0px; }
  .escucha1 {
    margin-bottom: 10px; }
  .icon4 {
    margin-top: 10px;
    justify-self: center;
    margin: 20px 0px 0px 0px; }
  .icon5 {
    justify-self: center;
    margin: 0px; }
  .formcont {
    width: 80%; }
    .formcont fieldset label {
      font-size: 0.75em; }
    .formcont fieldset input {
      margin-left: 25px; }
    .formcont fieldset textarea {
      margin-left: 25px; }
  .boton1 {
    margin-left: 115px; }
  .textoheadresp .h3b {
    width: 90%;
    margin: 0px 20px; }
  .mainequip {
    font-size: 1.4em;
    justify-content: space-between;
    gap: 0px;
    padding-top: 10px; }
  .titequip {
    width: 100%; }
  .lista1 {
    width: 30%;
    list-style: none; }
    .lista1 li {
      margin-bottom: 8px; }
  .lista2 {
    width: 30%;
    list-style: none; }
    .lista2 li {
      margin-bottom: 8px; }
  .lista3 {
    width: 30%;
    list-style: none; }
    .lista3 li {
      margin-bottom: 8px; }
  .audiomult {
    padding-left: 40px;
    height: 100%;
    overflow: hidden; }
    .audiomult audio {
      width: 90%; }
  .galeria img {
    width: 90%; }
  .maincont {
    padding: 0px; }
  .boton3 {
    margin-left: 110px; }
  .boton4 {
    margin-left: 35px; }
  .elip1 {
    display: none; }
  .elip2 {
    display: none; }
  .elip3 {
    display: none; }
  .elip4 {
    display: none; }
  .services {
    margin-bottom: 100px;
    gap: 0px;
    padding-top: 10px; }
  .decript {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .elip1resp {
    display: inline-flex; }
  .elip2resp {
    display: inline-flex; }
  .elip3resp {
    display: inline-flex; }
  .elip4resp {
    display: inline-flex; }
  .grab {
    width: 45%;
    padding-top: 20px; }
  .mezcla {
    width: 60%;
    padding-top: 5px;
    margin-left: 5px; }
  .bate {
    width: 55%;
    padding-top: 5px;
    margin-left: 2px; }
  .inst {
    width: 45%;
    padding-top: 5px;
    margin-left: 0px; }
  .box {
    margin-bottom: 20px; }
  footer h5 {
    font-size: 1.4em; } }

@media (max-width: 376px) {
  .equip {
    grid-template-columns: 180px 180px; }
  .boton1 {
    margin-left: 95px; }
  .audiomain audio {
    width: 90%; }
  .textoheadresp {
    font-size: 1em; }
  .formcontb {
    width: 90%; }
    .formcontb fieldset {
      font-size: 1.4em; }
      .formcontb fieldset label {
        padding-left: 25px; }
      .formcontb fieldset input {
        margin-left: 25px; }
      .formcontb fieldset textarea {
        margin-left: 25px; }
  .boton3 {
    margin-left: 105px; } }

@media (max-width: 321px) {
  .menu {
    font-size: 0.9em; }
  .formcont fieldset label {
    padding-left: 20px; }
  .formcont fieldset input {
    margin-left: 20px; }
  .formcont fieldset textarea {
    margin-left: 20px; }
  .equip {
    grid-template-columns: 150px 150px; }
  .boton1 {
    margin-left: 75px; }
  .iconcenter {
    padding: 0px 80px; }
  .formcontb fieldset {
    font-size: 1.2em; }
  .formcontb label {
    padding-left: 18px; }
  .formcontb input {
    margin-left: 18px; }
  .formcontb textarea {
    margin-left: 18px; }
  .formcontb .boton3 {
    margin-left: 85px; }
  .formcontb .boton4 {
    margin-left: 28px; }
  footer h5 {
    font-size: 1em; }
  header nav {
    margin-left: 25px; }
  .leyenda {
    font-size: 0.9em; }
  .services .textoheadresp {
    font-size: 0.9em; }
  .grab {
    width: 55%; }
  .inst {
    width: 55%; } }
