@media (max-width: 1350px){
    .audiomain{
        grid-template-columns: 400px 440px 40px 400px;
        padding-left: 0px;
    }
    .icon4{
        width: 70%;
    }
    .icon5{
        width: 70%;
    }
    .equip{
        padding-left: 0px;
    }
    .boton1{
        margin-left: 120px;
    }
    .boton2{
        margin-left: 10px;
    }
    .maincont{
        padding: 0px 120px;
    }
}