@media (max-width: 1150px){
    .contactonav{
        margin-left: 0px;
    }
    .textohead{
        width: 50%;
    }
    .audiomain{
        grid-template-columns: 300px 450px 40px 300px;
        }
    .textaudio1{
        font-size: 2em;
    }
    .textaudio2{
        font-size: 1.6em;
    }
    .textaudio3{
        font-size: 1.4em;
    }
    header nav{
        padding-left: 100px;
    }
    .textohead{
        width: 90%;
    }
    header a{
        font-size: 1.4em;
    }
    .maincont{
        padding: 0px 60px;
    }
}