@media (max-width: 376px){
    .equip{
        grid-template-columns: 180px 180px;
    }
    .boton1{
        margin-left: 95px;
    }
    .audiomain{
        audio{
            width: 90%; 
        }
    } 
    .textoheadresp{
        font-size: 1em;
    }
    .formcontb{
        width: 90%;
        fieldset{
            font-size: 1.4em; 
            label{
                padding-left: 25px;
            }
            input{
                margin-left: 25px;
            }
            textarea{
                margin-left: 25px;
            }
        }
    }
    .boton3{
        margin-left: 105px;
    }
}
