@media (max-width: 1250px){
    .audiomain{
        grid-template-columns: 350px 400px 40px 350px;
        }
    .boton1{
        margin-left: 115px;
       }
    .boton2{
        margin-left: 5px;
       }
    .contactonav{
        margin-left: 40px;
       }
    .equip{
        grid-template-columns: 350px 400px 200px 200px;
       }
}