@media (max-width: 321px){
    .menu{
        font-size: 0.9em;
    }
    .formcont{
        fieldset{
            label{
                padding-left: 20px;
            }
            input{
                margin-left: 20px;
            }
            textarea{
                margin-left: 20px;
            }
        }
    }
    .equip{
        grid-template-columns: 150px 150px;
    }
    .boton1{
        margin-left: 75px;
    }
    .iconcenter{
        padding: 0px 80px;
    }
    .formcontb{
        fieldset{
            font-size: 1.2em; 
        }
        label{
            padding-left: 18px; 
        }
        input{
            margin-left: 18px;
        }
        textarea{
            margin-left: 18px;
        }
        .boton3{
            margin-left: 85px;
        }
        .boton4{
            margin-left: 28px;
        }
    }
    footer{
        h5{
            font-size: 1em; 
        }
    } 
    header{
        nav{ 
            margin-left: 25px;
        }
    }
    .leyenda{
        font-size: 0.9em;
    }
    .services{
        .textoheadresp{
            font-size: 0.9em;
        }
    } 
    .grab{
        width: 55%;
    }
    .inst{
        width: 55%;
    }
}