@media (max-width: 500px){
    .maincont{
        padding: 0px 40px;
    }
    .boton3{
        margin-left: 105px;
    }
    .services{
        gap: 140px;
        padding-top: 70px;
    }
    .grab{
        margin-left: 0px;
        font-size: 0.9em;
    }
    .mezcla{
        padding-top: 180px;
        font-size: 0.80em;
    }
    .bate{
        padding-top: 150px;
    }
    .inst{
        padding-top: 150px;
    }
}
