
$color_1: rgba(93,62,125,.8);
$color_2: #823B82;
$color_3: #0D001C;
$color_4: #1B003A;
$color_5: #A3306B;

$fuente_1: "League Gothic", sans-serif; 
$fuente_2: "Italiana", sans-serif; 
$fuente_3: "Peddana", serif; 