footer{
    width: 100%;
    //background-color: $color_2;
    background-image: linear-gradient(to top, $color_2, $color_3);
    padding-top: 40px;
    text-align: center;
    h5{
        font-family: $fuente_3;
        font-size: 1.6em;
        color:white;
        font-weight: normal; 
    }  
}
.iconcenter{
    padding: 0px 120px;
}
