.mainservices{
    background-color: $color_3;
}

.elip2resp{
    display: none;
}

.elip3resp{
    display: none;
}

.elip1resp{
    display: none;
}

.elip4resp{
    display: none;
}

.services{
    width: 100%;
    @include flex(row, space-evenly, flex-end, 100px);
    flex-wrap: wrap;
    grid-area: aux;  
    padding-bottom: 20px;
}

.descript{
    width: 100%;
    font-family: $fuente_1;
    font-size: 1.2em;
    color: white;
    text-align: center;
    @include flex(row, space-evenly, none, 30px);
    flex-wrap: wrap;
    padding-top: 10px;
    h2{
        font-weight: lighter;
        &::selection{
            background-color: $color_2;
        }
    }
    h3{
        font-weight: lighter;
        &::selection{
            background-color: $color_2;
        }
    }
}

.grab{
    width: 20%;   
}   

.mezcla{
    width: 20%;      
} 

.bate{
    width: 20%;
} 

.inst{
    width: 20%;
} 

.titserv h2{
    color: $color_5;
    font-family: $fuente_1;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    margin-top: 75px;
    &::selection{
        background-color: $color_2;
    }
}

.textoheadresp{
    display: none;
}